article {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: none;
  scroll-snap-align: center;

  transition: border-bottom 0.35s ease-in-out 0.35s;

  @media (min-width: $desktopMinWidth) {
    width: calc(100% / 8);
    height: auto;
    border: none;
  }
}
