@import "reset";

$desktopMinWidth: 992px;

$background: #333;
$color: #fff;

@import "header.module.scss";
@import "footer.module.scss";

@import "section.module.scss";
@import "article.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 12px;
  background: $background;
  color: $color;

  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  @media (min-width: $desktopMinWidth) {
    scroll-snap-type: unset;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
}

@import "NavigateByPosition.module.scss";
@import "Means.module.scss";

.NamesWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: $desktopMinWidth) {
    align-items: stretch;
    margin-top: 16px;
  }
}

@import "SvgName.module.scss";
@import "Panel.module.scss";
@import "Overlay.module.scss";
