@import "reset";

//-----------------------------------------

$desktopMinWidth: 992px;

$background: #333;
$color: #fff;

//-----------------------------------------

@import "dashed-highlight.scss";

//-----------------------------------------

#__next {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

//-----------------------------------------

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 12px;
  background: $background;
  color: $color;

  width: 100%;
  height: 100%;

  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  user-select: none;

  @media (min-width: $desktopMinWidth) {
    scroll-snap-type: unset;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
}

@import "main.module.scss";
@import "section.module.scss";
@import "article.module.scss";
@import "header.module.scss";
@import "footer.module.scss";

//-----------------------------------------

@import "NavigateByPosition.module.scss";
@import "Means.module.scss";
@import "NamesWrapper.scss";
@import "SvgName.module.scss";
@import "Panel.module.scss";
@import "Overlay.module.scss";
