header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 8px;

  width: 100%;
  background: #222;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
