main {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  &.Reverse {
    flex-direction: row-reverse;
  }

  &.HorizontalOrientation {
    .NamesWrapper {
      flex-wrap: nowrap;
    }

    header {
      overflow: hidden;

      h1 {
        position: fixed;
        right: 0;

        margin: 0;
        padding: 8px 32px 8px 8px;
        background: #222;
      }
    }

    section {
      overflow-y: auto;
      overflow-x: auto;
      scroll-snap-type: both mandatory;

      background: #222;
    }

    article {
      flex: 0 0 100%;
      background: #333;
    }
  }

  &.LightTheme {
    background: $color;
    color: $background;

    header,
    footer {
      background: #eee;
    }

    article {
      border-bottom: 1px solid currentColor;

      @media (min-width: $desktopMinWidth) {
        border-bottom: none;
      }
    }

    .Panel {
      background: #fff;
      color: #333;
    }

    .PositionChanger,
    .ThemeChanger {
      background: #eee;
      color: #333;
    }
  }

  &.DarkTheme {
    background: $background;
    color: $color;

    header {
      background: #222;
    }

    article {
      border-bottom: 1px solid currentColor;

      @media (min-width: $desktopMinWidth) {
        border-bottom: none;
      }
    }

    .Panel {
      background: #222;
      color: #fff;
    }

    .PositionChanger,
    .ThemeChanger {
      background: #222;
      color: #fff;
    }
  }

  transition: background 1s ease-out, color 0.35s ease-in-out;
}
