.NamesWrapper {
  position: relative;
  z-index: 101;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;

  @media (min-width: $desktopMinWidth) {
    align-items: stretch;

    padding: 0 0 16px;
    height: calc(100% - 40px - 40px);
  }
}
