.Panel {
  position: fixed;
  left: 100%;
  top: 0;
  transform: translate(0, 0);
  visibility: hidden;
  z-index: 401;

  display: block;
  margin: 0;
  padding: 16px;

  width: 50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  will-change: transform, visibility;

  box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0);

  transition: transform 0.35s ease-out, box-shadow 0.35s ease-out,
    visibility 0s ease 0.5s;

  &.ThirdSize {
    height: 33vh;
  }

  &.FromBottom {
    top: auto;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);

    width: 100%;

    box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0),
      0 0 0 rgba($color: #000000, $alpha: 0),
      0px -2px 1px 0px rgba($color: #fff, $alpha: 0.2);

    &.Showing {
      transform: translate(0, 0);

      box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.6),
        0 0 32px rgba($color: #000000, $alpha: 0.2),
        0px -2px 1px 0px rgba($color: #fff, $alpha: 0.2);
    }
  }

  &.Showing {
    transform: translate(-100%, 0);

    visibility: visible;
    box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.6);

    transition: transform 0.25s ease-in-out 0s, visibility 0s ease;
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0;
      padding: 0;

      &:first-child {
        margin-top: 0;
      }

      a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        margin: 0;
        padding: 8px 0;
        width: 100%;
        height: auto;
        min-height: 40px;

        em {
        }

        h2 {
          display: inline-block;
          margin-left: 8px;
          line-height: 1.6em;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
