section {
  position: relative;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  scroll-snap-align: end;

  @media (min-width: $desktopMinWidth) {
    scroll-snap-type: y proximity;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
